*{margin:0;padding:0;}  
body{  
    font:18px/20px "Microsoft YaHei",arial,serif;  
    color:#fff;  
    background:#fff;  
}  
img{border:0;}  
a{text-decoration:none;}  
  
.header,  
.container,  
.footer{  
    margin-left:auto;  
    margin-right:auto;  
    margin-top:10px;  
    text-align:center;  
}  
  
.header{  
    height:100px;  
    background:#333;  
}  
  
.sidebarLeft,  
.main,  
.sidebarRight{  
    background:#333;  
}  
  
.footer{  
    height:100px;  
    background:#333;  
}  
  
@media screen and (min-width:960px){  
    .header,  
    .container,  
    .footer{  
        width:960px;  
    }  
  
    .sidebarLeft,  
    .main,  
    .sidebarRight{  
        float:left;  
        height:400px;  
    }  
  
    .sidebarLeft,  
    .sidebarRight{  
        width:200px;  
    }  
  
    .main{  
        margin-left:10px;  
        margin-right:10px;  
        width:540px;  
    }  
  
    .container{  
        height:400px;  
    }  
}  
  
@media screen and (min-width:737px) and (max-width:960px){  
    .header,  
    .container,  
    .footer{  
        width:600px;  
    }  
  
    .sidebarLeft,  
    .main{  
        float:left;  
        height:400px;  
    }  
  
    .sidebarRight{  
        display:none;  
    }  
  
    .sidebarLeft{  
        width:160px;  
    }  
  
    .main{  
        margin-left:10px;  
        width:430px;  
    }  
  
    .container{  
        height:400px;  
    }  
}  
  
@media screen and (min-width:600px) and (max-width:736px){   
    .header,  
    .container,  
    .footer{  
        width:600px;  
    }  
    
    .footer{
        margin-top: 10px;
    } 

    .sidebarLeft,  
    .sidebarRight,
    .main{  
        width:600px;  
        margin-top:10px;  
        height:200px; 
    }  
    
    .container{  
        height:auto;  
    } 
} 

@media screen and (min-width:414px) and (max-width:599px){   
    .header,  
    .container,  
    .footer{  
        width:414px;  
    }  
    
    .footer{
        margin-top: 10px;
    } 

    .sidebarLeft,  
    .sidebarRight,
    .main{  
        width:414px;  
        margin-top:10px;  
        height:200px; 
    }  
    
    .container{  
        height:auto;  
    } 
} 

@media screen and (min-width:375px) and (max-width:413px){  
    .header,  
    .container,  
    .footer{  
        width:375px;  
    }  
  
    .sidebarLeft,  
    .sidebarRight,
    .main{  
        width:375px;  
        margin-top:10px;  
        height:200px; 
    }  
    
    .container{  
        height:auto;  
    }  
} 

@media screen and (min-width:320px) and (max-width:374px){  
    .header,  
    .container,  
    .footer{  
        width:320px;  
    } 

    .footer{  
        margin-top: 10px;
    }  
  
    .sidebarLeft,  
    .sidebarRight,
    .main{  
        width:320px;  
        margin-top:10px;  
        height:200px; 
    }  
    
    .container{  
        height:auto;  
    }  
}   
